<html>
    <head>
        <style>
            .styled-table {
                border-collapse: collapse;
                margin: 25px 0;
                font-size: 0.9em;
                font-family: sans-serif;
                min-width: 400px;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            }
            .styled-table thead tr {
                background-color: #616161;
                color: #ffffff;
                text-align: left;
            }
            .styled-table th,
            .styled-table td {
                padding: 12px 15px;
                vertical-align: top;
            }
            .inner-table {}
            .inner-table thead tr {
                background-color: #616161;
                color: #ffffff;
                text-align: left;
            }
            .inner-table th,
            .inner-table td {
                vertical-align: top;
            }
        </style>
    </head>
    <body>
        <div style="text-align:center;font-size:32px;font-weight:bold">Branch Address Book Contacts</div>
        <br/>
        <hr/>
        <table style="width: 100%;">
            <tr>
                <td style="width: 50%; text-align: left;font-weight:bold;">Branch: [[${branch}]]</td>
                <td th:if="${addressbook}" style="width: 50%; text-align: right;font-weight:bold;">Address Book: [[${addressbook}]]</td>
            </tr>
        </table>
        <table class="styled-table">
            <thead>
                <tr>
                    <th style="width: 7%;">No</th>
                    <th style="width: 33%;">Name</th>
                    <th style="width: 60%;padding: 0px 0px;vertical-align: top;">
                        Contact Number(s)
                        <table>
                            <tr>
                                <td style="width: 33%;">Type</td>
                                <td style="width: 33%;">Number</td>
                                <td style="width: 33%;">Extension</td>
                            </tr>
                        </table>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="contact : ${contacts}">
                    <td th:text="${contactStat.count}"></td>
                    <td th:text="${contact.name}"></td>
                    <td style="padding: 0px 0px;vertical-align: top;">
                        <table class="inner-table">
                            <tr th:each="contactNumber : ${contact.contactNumbers}">
                                <td th:text="${contactNumber.contactNumberType}"></td>
                                <td th:text="${contactNumber.number}"></td>
                                <td th:text="${contactNumber.extension}"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>